BUILD/*
!BUILD/Makefile
!BUILD/callback.c
!BUILD/globals.h
!BUILD/pmain.c
!BUILD/putilities.c
!BUILD/putilities.h
!BUILD/sutilities.c
!BUILD/sutilities.h
INTERMEDIATE
!INTERMEDIATE/.gitkeep
GENSOURCE
!GENSOURCE/.gitkeep
!31304-txl10.8b.linux64.tar.gz
!sclparsergenerator-RestructuredParser.tar.gz
sclparsergenerator-RestructuredParser/
